body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
  height: 912px;
  position: relative;
  margin-bottom: 100px;
}


.features__title {
  text-align: right;
  padding-top: 300px;
  padding-right: 50px;
}


.features__img {
  /* width: 525px;
  height: 784px; */
  position: absolute;
  z-index: 5;
  max-width: 525px;
}


.features--horizontal .features__bg {
  top: 50px;
  height: 580px;
}

.features--horizontal .features__title {
  padding-top:100px;
}

.features--horizontal .features__text  {
  top: 200px;
}

.features__bg {
  position: absolute;
  z-index: -1;
  left: 240px;
  top: 200px;
  width: 342px;
  height: 616px;
  background-color: #ffb600;
}

.features__text {
  width: 366px;
  height: 377px;
  background-color: #aba69b;
  color: #fffefe;
  padding: 50px;
  padding-left: 140px;
  z-index: 1;
  position: absolute;
  top: 400px;
  left: 420px;
}

.button {
  position: absolute;
  font-size: 25px;
  width: 344px;
  border-radius: 30px;
  background-color: #353430;
  padding: 30px;
  /* margin-bottom: 50px; */
  //margin-left: 70px;
  bottom: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;

}

.features__text p {
  margin-bottom: 50px;
}
