// Colors
// $base-color: #000000;
$accent-color: blue;

$main-color:#ffb600;


// Font size
$base-font-size: 14px;
$base-line-height: 1.7;

// Fonts
//$base-font: 'GothamProMedium', sans-serif;
$base-font: 'Helvetica', sans-serif;

