.promo-player {
  // outline: 1px solid red;
  //height: 800px;
  margin-bottom: 100px;
  //width: 1000px;
  display: flex;
  position: relative;
}

.promo-player__bg {
  background-color: #ffb600;
  // outline: 1px solid green;
  height: 476px;
  width: 850px;
  position: absolute;
  left: 150px;
  /* z-index: -1; */
  margin-top: -30px;
}

.promo-player__video-content {
  background-color: black;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 20px;
  height: 540px;
}

.promo-player__text-content,
.promo-player__video-content {
  z-index: 5;
}

.promo-player__img {
  width: 800px;
  height: 450px;
}




.promo-player__text-content {
  padding-left: 10px;

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.8em;
  }
}


/* tablet version style; display < 1000px  */
@media (max-width: 1000px) {
  .promo-player {
    width: 768px;
    flex-wrap: wrap;

    &__text-content {
      padding-left: 10px;
    }

    &__bg {
      width: 618px;
    }

    &__text-content {
      padding-left: 10px;
    }
  }

  .promo-player__video-content {
    height: auto;
    padding-bottom: 20px;
    margin-left: 10px;

    img:nth-child(1) {
      width: 708px;
      height: auto;
    }

  }
}

@media (max-width: 765px) {
  .promo-player {
    width: 375px;

    &__bg {
      width: 225px;
      height: 420px;
      top: 10px;
    }

    &__video-content {
      height: auto;
      padding-bottom: 20px;
      margin-left: 10px;

      img:nth-child(1) {
        width: 300px;
        height: auto;
      }

    }
  }
}
