.form_contacts {
  display: flex;
  flex-direction: column;
  height: 400px;

  &__field {
    width: 500px;
    height: 61px;
    border-radius: 25px;
    margin: 30px;

  }

  &__label {
    width: 200px;

  }


}
