<form class="form_contacts">


  <div class="form_contacts__field-group">

    <label class="form_contacts__label" for="fio">ФИО</label>
    <input class="form_contacts__field" name="fio" type="text">
  </div>
  <div class="form_contacts__field-group">


    <label class="form_contacts__label" for="tel">Номер телефона</label>
    <input class="form_contacts__field" name="tel" type="text">
  </div>
  <div class="form_contacts__field-group">


    <label class="form_contacts__label" for="mail">E-mail</label>
    <input class="form_contacts__field" name="mail" type="text">
  </div>
</form>
