.slider {
  text-align: center;
  background-color: #080707;
  width: 100%;
  img {
    width: 1000px;
  }
}


@media (max-width: 1000px) {
  .slider {

    img:nth-child(1) {
      width: 768px;
    }
  }

}
