.footer {
  .main-nav__item {
    color: red;
  }
  width: 100%;
  box-sizing: border-box;
  background-color: #080707;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 300px;

    .main-nav__item.active {
      border-bottom-style:none;
    }

    &__content {
      height: 100px;
    }
  .main-nav {
    margin: 0 auto;
  }
}


@media (max-width:768px) {
  .footer {
    height: 100px;
    min-height: 100px;
    padding: 0;
    .hamburger {
      display: none;
    }
  }
}
