.contacts {
 // outline: 1px solid red;
 // margin: 20px 0px;
  // height: 980px;
  width: 1000px;
  background-color: #fff;
  margin-bottom: 54px;
  .section-title {
    text-align: center;
    margin-left: 80px;
  }

  img:nth-child(1) {
  margin-right: 30px;
  float: left;
  width: 400px;
  }
}


@media (max-width:1024px) {
  .contacts {
    width: 768px;
    img {
      display: none;
    }
  }

}



@media (max-width:765px) {
  .contacts {
    width: 375px;
    img {
      display: none;
    }

    .section-title {
      margin-left: 0;
    }
  }

}
