.service {
  margin:0 auto;
  width:1000px;

}


.service__title {
  font-size: 2em;
}

.service__title:before {
  position: relative;
  content: '';
  background-color: $main-color;
  display: inline-block;
  color: $main-color;
  width: 5px;
  height: 50px;
  margin-right: 25px;
  top: 10px;
}
