.service {
  margin:0 auto;
  width:1000px;
}



/* tablet version style; display < 1000px  */
@media (max-width: 1000px) {
  .service {
    width: 768px;

  }
}



/* mobile version style; display < 1000px  */
@media (max-width: 765px) {
  .service {
    width: 375px;

  }
}
