.main-nav {
padding-top: 10px;
}

.main-nav__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 700px;

}

.main-nav__item {
  list-style-type: none;
  color: #fff;
  font-size: 18px;
  height: 30px;

}


.main-nav__item.active {
  border-bottom-width: 10px;
  border-bottom-color: #fff;
  border-bottom-style: double;

}
