.main-nav {
padding-top: 10px;
}

.main-nav__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 700px;

}

.main-nav__item {
  list-style-type: none;
  color: #fff;
  font-size: 18px;

}
