.main-nav {
padding-top: 10px;
width: 1000px;
}

.main-nav__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 700px;

}

.main-nav__item {
  list-style-type: none;
  color: #fff;
  font-size: 18px;
  height: 40px;

}


.main-nav__item.active {
  border-bottom-width: 10px;
  border-bottom-color: #fff;
  border-bottom-style: double;

}
@media (max-width: 1000px) {
  .main-nav  {
    width: 768px;
  }

}

@media (max-width: 766px) {
  .main-nav  {
    //width: 350px;
    display: none;
  }

}
