.service-info {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  .section-title {
    width: 950px;
    margin: 0 auto;
  }
}

.service-info__bg {
  position: absolute;
  z-index: -1;
  top: 300px;
  background-color: #000;
  width: 100%;
  height: 280px;
}

/* tablet version style; display < 1000px  */
@media (max-width: 1024px) {
  .service-info  {
    .steps {
      width: 768px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .section-title {
      width: 768px;
    }
    .service-info__bg {
      height: 581px;
      top: 100px;
    }
  }
}
