.button {
 // position: absolute;
  font-size: 15px;
  width: 344px;
  border-radius: 30px;
  background-color: #353430;
  padding: 10px;
  /* margin-bottom: 50px; */
  //margin-left: 70px;
  bottom: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;

}
