
.section-title {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

.section-title:before {
  position: relative;
  content: '';
  background-color: $main-color;
  display: inline-block;
  color: $main-color;
  width: 5px;
  height: 50px;
  margin-right: 25px;
  top: 10px;
}
